/* DESIGN FINALIZADO */

/*Fonte Russo One*/
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/*Fonte Orbitron*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Russo+One&display=swap');
/*Fonte Inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Russo+One&display=swap');

body {
    margin: 0;
    display: flex;
    height: 100%;
}

.sidebar {
    width: 200px;
    color: #fff;
    display: flex;
    padding: 30px;
    flex-direction: column;
    box-shadow: 8px 0 8px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to bottom, #FF0000, #990000, #990000);
}

.sidebar img {
    width: 80%;
    margin-top: 20%;
    margin-left: 8%;
}

.sidebar h1 {
    margin-top: 24%;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: "Orbitron";
}

.sidebar p {
    margin-top: 26%;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: "Orbitron";
}

.sidebar a {
    display: flex;
    margin-top: 20%;
    margin-bottom: -3%;
    border-radius: 6px;
    padding: 2px 10px;
    align-items: center; 
    text-decoration: none;
    background-color: #A60321;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

}

/* Para quando estiver na página ativa, ou seja onde o usuário está navegando naquele momento */
.sidebar a.ativo {
    display: flex;
    margin-top: 20%;
    margin-bottom: -3%;
    border-radius: 6px;
    padding: 2px 10px;
    align-items: center; 
    text-decoration: none;
    background-color: #FF0000;
    box-shadow: 0px 5px 18px rgba(113, 19, 19, 0.6);
}

.sidebar a li {
    color: #fff;
    display: flex;
    font-size: 20px;
    font-weight: 200;
    margin-left: 4%;
    text-decoration: none;
    font-family: "Orbitron";
}

.sidebar a img {
    width: 24px;
    height: auto;
    margin-bottom: 20%;
}

.btn-logout {
    padding: 10px;
    border: none;
    font-size: 30px;
    border-radius: 6px;
    color: #fff;
    background-color: transparent;
    font-family: "Orbitron";
    margin-left: -25%;
}

.btn-logout img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

/* Aqui é o final da sidebar */

/* Container principal da dashboard */

.dash {
    padding: 20px;
}

.dash h2 {
    font-size: 26px;
    font-weight: 100;
    color: #D5D5D5;
    margin-bottom: 4%;
    margin-left: 2%;
    font-family: "Russo one";
}

.cards-container {
    width: 80%;
    display: flex;
}

.card {
    width: 420px;
    height: 160px;
    padding: 18px;
    margin-right: 1%;
    margin-left: 2%;
    margin-bottom: 10%;
    border-radius: 8px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    background-image:linear-gradient(to left, #BF0427, #8C031C, #590212);
}

.card h3 {
    font-size: 20px;
    margin-top: -4%;
    color: #ffffff;
    text-align: center;
    font-family: "Orbitron";
    font-weight: 200;
}

.card p {
    width: 30%;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    font-family: "Russo one";
}

.numero-com-icone {
    display: flex;
    align-items: center;
    justify-content: center;
}

.numero-com-icone img {
    width: 80px;
    height: 50px;
    margin-right: 10%;
}


/* GRÁFICOS */

.graficos-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 24px;
}

.grafico-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grafico-card h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    color: #000000;
    font-weight: 200;
    font-family: "Russo one";
}

/* Define larguras diferentes para cada gráfico */
#graficoHistorico-card {
    flex: 3;
    margin-left: 4%;
    width: 700px !important; 
    height: 440px !important;
}

#graficoPizza-card {
    flex: 2;
    padding: 40px;
    width: 1400px !important; 
    height: 390px !important;
}


.grafico-card canvas {
    width: 100% !important;
    height: 100% !important;
}
