/* FINALIZADO OK */

/*Fonte Russo One*/
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/*Fonte Orbitron*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Russo+One&display=swap');
/*Fonte Inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Russo+One&display=swap');

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #111111;
}

.header {
  top: 0;
  left: 10px;
  z-index: 5;
  width: 90%;
  display: flex;
  position: absolute;
  padding: 8px 40px;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  width: 42%;
  padding: 15px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #1B1B1B;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  font-family: "Orbitron";
  justify-content: space-between;
}

.navbar ul li a {
  width: 100%;
  padding: 2px;
  margin-left: 0;
  display: block;
  color: white;
  font-size: 16px;
  font-weight: 300;
  position: relative;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: #D90416;
}

.logo {
  width: 70px;
}

/* Botões do lado direito */

.botoes ul {
  padding: 0;
  display: flex;
  margin-top: 20px;
  list-style: none;
  margin-left: 10px;
  align-items: center;
}

.botoes li {
  margin-left: 15px;
}

.botao-cadastro {
  color: white;
  font-weight: 200;
  font-size: 16px;
  padding: 8px 16px;
  text-decoration: none;
  font-family: "Orbitron";
}

.botao-destaque {
  font-size: 16px;
  font-weight: 200;
  padding: 8px 16px;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  font-family: "Orbitron";
  background-color: #1B1B1B;
  color: #fff;
}

.icon {
  margin-left: 6px;
  width: 25%;
}

/* Começa o conteudo da página */

.banner {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.img-banner {
  z-index: -1;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.banner .container-texto {
  top: 4%;
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
}

/* ESSA MEXE AS IMAGENS QUE SÃO AS LINHAS VERMELHAS DO BANNER */
.bg-svg {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  opacity: 0.5;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.svg1 {
  transform: rotate(-15deg);
  /* ISSO AQUI FAZ O ELEMENTO ROTATIVAR */
  margin-top: 20px;
  width: 95.5%;
}

.svg2 {
  transform: rotate(-190deg);
  /* ISSO AQUI FAZ O ELEMENTO ROTATIVAR */
  margin-top: 60px;
  width: 96.5%;
}

/* RETÂNGULO PRETO LATERAL ESQUERDO */
.bg-svg-left {
  top: 0;
  left: 0;
  z-index: 1;
  width: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.bg-svg-img {
  top: 80%;
  left: 2%;
  z-index: 1;
  width: auto;
  height: 10%;
  object-fit: cover;
  position: absolute;
}

.neon {
  color: #fff;
  font-family: "Orbitron", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.4;
  font-weight: 200;
}

/* Primeira div, sobre a história */
.divhistoriacontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 0;
  background-image: url("../assets/imgs/corridinha.png");
  background-size: cover;
  background-position: center;
}

.f1-historia {
  display: flex;
  background: rgba(0, 0, 0, 0.664);
  padding: 20px;
  border-radius: 12px;
  width: 600px;
  width: 80%;
  box-shadow: 0 4px 16px rgba(0,0,0,0.25);
}

.historia-conteudo {
  flex: 2;
}

.historia-conteudo h2 {
  margin-bottom: 12px;
  font-family: "Russo one";
  color: #fff;
  font-size: 30px;
  font-weight: 200;
}

.historia-conteudo p {
  width: 80%;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 200;
  color: #ccc;
  font-family: "Orbitron";
}

.historia-imagens {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.historia-imagens img {
  width: 90%;
  height: 190px;
  border-radius: 10px;
  margin-top: 10%;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

/* Segunda div */


/* Meu footer */

.footer {
    height: auto;
    color: #fff;
    background: #000;
    margin-top: 40px;
    padding: 20px;
    font-family: "Orbitron";
}

.footer-container {
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-logo img {
    width: 70px;
    margin-left: 2%;
    margin-bottom: 10px;
}

.footer-logo p {
    margin-top: 9%;
    font-size: 12px;
    color: #ccc;
    width: 250px;
}

.footer-links h4,
.footer-creditos h4 {
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: 200;
    color: #d43b3b;
}

ul {
    margin-left: -30%;
    list-style: none;
    text-align: left;
}

.footer-links ul li {
    margin: 0;
    padding: 1px;
    text-decoration: none;
}

.footer-links ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 13px;
}

.footer-creditos {
   margin-top: 2%; 
}

.footer-creditos p {
    margin: 4px 0;
    display: flex;
    align-items: center;
}

.footer-creditos p img {
    width: 16px;
    margin-right: 6px;
}

.footer-creditos p a {
    color: #ccc;
    text-decoration: none;
    font-size: 13px;
}

.footer-direitos {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #333;
    color: #aaa;
    font-size: 12px;
}



























