/*AQUI ESTOU DEFININDO AS FONTES DO MEU SITE, ESTOU EXPORTANDO DO SITE FONTS.COM DO GOOGLE*/

/*Fonte Russo One*/
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/*Fonte Orbitron*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Russo+One&display=swap');
/*Fonte Inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Russo+One&display=swap');


body {
  width: 100%;
  margin: auto;
  height: 100%;
  position: relative;
  background-color: #111111;
  font-family: "Russo One", sans-serif;
}

.header {
  top: 0;
  left: 30px;
  z-index: 5;
  width: 90%;
  display: flex;
  position: absolute;
  padding: 12px 60px;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  width: 42%;
  padding: 20px;
  margin-top: 28px;
  border-radius: 20px;
  background-color: #1B1B1B;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  font-family: "Orbitron";
  justify-content: space-between;
}

.navbar ul li a {
  width: 100%;
  margin-left: 0;
  display: block;
  color: white;
  font-size: 20px;
  font-weight: 300;
  position: relative;
  padding: 2px;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: #D90416;
}

.logo {
  width: 10%;
  margin-left: 2px;
}

.botoes ul {
  padding: 0;
  display: flex;
  margin-top: 30px;
  margin-left: 10px;
  list-style: none;
  align-items: center;
}

.botoes li {
  margin-left: 20px;
}

.botao-cadastro {
  color: white;
  font-weight: 200;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
  font-family: "Orbitron";
}

.botao-destaque {
  font-size: 20px;
  font-weight: 200;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  font-family: "Orbitron";
  background-color: #1B1B1B;
  color: rgb(255, 255, 255);
}

.icon {
  margin-left: 6px;
  width: 30%;
}

.banner {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.video-bg {
  z-index: -1;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.banner .container-texto {
  top: 4%;
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
}

/* ESSA MEXE AS IMAGENS QUE SÃO AS LINHAS VERMELHAS DO BANNER */
.bg-svg {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  opacity: 0.5;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.svg1 {
  transform: rotate(-15deg);
  /* ISSO AQUI FAZ O ELEMENTO ROTATIVAR */
  margin-top: 20px;
  width: 95.5%;
}

.svg2 {
  transform: rotate(-190deg);
  /* ISSO AQUI FAZ O ELEMENTO ROTATIVAR */
  margin-top: 60px;
  width: 96.5%;
}

/* RETÂNGULO PRETO LATERAL ESQUERDO */
.bg-svg-left {
  top: 0;
  left: 0;
  z-index: 1;
  width: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.bg-svg-img {
  top: 80%;
  left: 2%;
  z-index: 1;
  width: auto;
  height: 10%;
  object-fit: cover;
  position: absolute;
}

.neon {
  color: #fff;
  font-family: "Orbitron", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.4;
  font-weight: 200;
}

.trapezio {
  display: inline-block;
  margin-top: 3%;
}

.btn-destaque,
.btn-acessar {
  padding: 10px 20px;
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: none;

}

.btn-destaque {
  height: 80%;
  border: none;
  background: linear-gradient(to bottom, #D90416, #73020C);
}

.btn-acessar {
  background-color: #fff;
  color: #D90416;
  height: 60%;
  border: none;
}



/* AQUI ACABA A PRIMEIRA SESSÃO SOBRE A HISTÓRIA*/
/* MINHA SESSÃO DE INICIO */
.sobre {
  margin-top: 4%;
  width: 100%;
  height: 100%;
  margin-right: 20%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../assets/imgs/formula1-antigas/todos.jpg');
  background-size: cover;
}

.sobre-texto {
  position: absolute;
  top: 30%;
  left: 5%;
  transform: translateY(-50%);
  width: 45%;
}

.sobre-texto h1 {
  font-size: 44px;
  font-weight: 300;
  line-height: 50px;
  color: #fff;
  margin-bottom: 20px;
}

.sobre-texto p {
  font-size: 22px;
  line-height: 38px;
  color: #e6e6e6;
  font-family: "Orbitron";
}

.bg-right {
  margin-left: 30.3%;
}

/* MISSÃO VISÃO VALORES */

.social {
  display: flex;
  position: relative;
  padding: 12%;
  background-size: cover;
  background-image: url("../assets/imgs/formula1-antigas/imagemFundoIII.png");
}

.bg-svg-left1 {
  top: -2%;
  right: 24%;
  z-index: 1;
  width: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.bg-svgleft1 img {
  top: 280%;
  left: 0;
  z-index: 1;
  width: auto;
  height: 8%;
  object-fit: cover;
  position: absolute;
}

.social .container {
  justify-content: center;
  margin-top: 16%;
  margin-left: 18%;
  width: 60%;
}

.logo-mini {
  width: 8% !important;
  height: auto !important;
  margin-left: 90%;
  opacity: 0.4;
}

.box img {
  width: 400px;
  border-radius: 8%;
}

.box h4 {
  color: #fff;
  font-weight: 100;
  font-size: 20px;
  justify-content: center;
}

.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.social p {
  padding: 32px;
  text-align: justify;
  color: #d5d5d5;
  font-size: 18px;
  font-family: "Orbitron";
  line-height: 30px;
  font-weight: 600;
  background-color: #73020b69;
  border-radius: 6%;
  margin-left: 4%;
  margin-top: 8%;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.equipes {
  padding: 10%;
  text-align: left;
  position: relative;
  background-color: #373737;
}

.bg-svg5 {
  position: absolute;
  top: 0;
  left: 10%;
  width: 90%;
  z-index: 1;
}

.equipes h1 {
  font-size: 48px;
  font-weight: 200;
  line-height: 60px;
  color: #fff;
  margin-bottom: 20px;
  margin-left: -6%;
  margin-top: 6%;
}

.equipes h1,
.box-equipe,
.container,
.card-equipe {
  position: relative;
  z-index: 5;
}


.box-equipe .container {
  display: flex;
  margin-top: 6%;
  justify-content: flex-start;
}

.equipes-box {
  display: flex;
  flex-wrap: wrap;
  z-index: 5;
  justify-content: flex-start;
}

.card-equipe h4 {
  font-size: 30px;
  font-weight: 200;
  color: white;
  margin-top: 8px;
}

.equipes-texto {
  color: #e6e6e6;
  font-size: 18px;
  font-family: "Orbitron";
  width: 70%;
  margin-left: -6%;
  text-align: left;
  line-height: 40px;
    margin-top: 3%;
}

.card-equipe {
  width: 400px;
  height: 190px;
  background: #151515;
  border: 1px solid #9c0e0e;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  margin-left: -6%;
  text-align: center;
}

.card-equipe img {
  width: 100%;
}






















/* MEU FOOTER */

.footer {
  background: #000;
  color: #fff;
  margin-top: 50px;
  padding-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 0 8%;
  flex-wrap: wrap;
}

.footer-logo img {
  width: 130px;
  margin-bottom: 10px;
}

.footer-logo p {
  font-size: 0.9rem;
  color: #ccc;
  max-width: 250px;
}

.footer-links h4,
.footer-creditos h4 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #d43b3b;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin: 6px 0;
}

.footer-links ul li a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}

.footer-creditos p a {
  color: #ccc;
  text-decoration: none;
}

.footer-direitos {
  text-align: center;
  margin-top: 30px;
  padding: 15px;
  border-top: 1px solid #333;
  color: #aaa;
  font-size: 0.9rem;
}