/* AQUI TÁ TUDO CERTO */


/*Fonte Russo One*/
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/*Fonte Orbitron*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Russo+One&display=swap');


body {
  background-image: url("../assets/imgs/imagemFundoII.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #111111;
  width: 94%;
  height: 90%;
  font-family: "Russo One", sans-serif;
}

/* AQUI EM CIMA NÃO MEXO MAIS */

/* Onde fica o login, dentro da borda */
.borda {
  position: relative;
  width: 98%;
  height: 90vh;
  border: 2px solid #A60321;
  border-radius: 10px;
  padding: 20px 40px;
  margin-top: 1%;
  margin-left: 1%;
}

/* Começo da minha navbar */
.header {
  top: 0;
  left: 10px;
  z-index: 5;
  width: 90%;
  display: flex;
  position: absolute;
  padding: 12px 60px;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  width: 42%;
  padding: 20px;
  margin-top: 28px;
  border-radius: 20px;
  background-color: #1B1B1B;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  font-family: "Orbitron";
  justify-content: space-between;
}

.navbar ul li a {
  width: 100%;
  margin-left: 0;
  display: block;
  color: white;
  font-size: 20px;
  font-weight: 300;
  position: relative;
  padding: 2px;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: #D90416;
}

.logo {
  width: 80px;
}

/* Não esqueça que são os botões do lado direito */

.botoes ul {
  padding: 0;
  display: flex;
  margin-top: 30px;
  margin-left: 10px;
  list-style: none;
  align-items: center;
}

.botoes li {
  margin-left: 20px;
}

.botao-cadastro {
  color: white;
  font-weight: 200;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
  font-family: "Orbitron";
}

.botao-destaque {
  font-size: 20px;
  font-weight: 200;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  font-family: "Orbitron";
  background-color: #1B1B1B;
  color: rgb(255, 255, 255);
}

.icon {
  margin-left: 6px;
  width: 30%;
}


/* Começa meus inputs */

.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end; /* Joga tudo pra direita */
  align-items: center;
  margin-top: 4%;
}

.login-card {
  width: 500px;
  border-radius: 10px;
  padding: 30px;
}

.login-right h2 {
  font-family: "Russo one", sans-serif;
  color: white;
  font-size: 40px;
  margin-bottom: 8px;
  font-weight: 400;
  text-align: center;
}

.login-right p {
  color: #FFFFFF;
  font-size: 18px;
  margin-bottom: 25px;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}

.formulario input {
  width: 100%;
  padding: 20px;
  margin-bottom: 16px;
  background: #000000;
  border: 1px solid #A60321;
  border-radius: 6px;
  color: white;
  outline: none;
  font-family: "Russo One", sans-serif;
}

.formulario input:focus {
  border-color: #c43131;
  /* talvez, um futuro box-shadow*/
}

.formulario input::placeholder {
  font-family: "Orbitron";
  letter-spacing: 1px; /* esse eu pesquisei, para deixar mais espaçamento entre as letras*/
}

.btn-login {
  width: 540px;
  padding: 16px;
  background: #590212;
  border: none;
  border-radius: 6px;
  color: white;
  font-family: "Orbitron", sans-serif;
  margin-bottom: 3%;
  margin-top: 1%;
  font-size: 20px;
  font-weight: 600;
}


.btn-login:hover {
  background: #ff0000;
}


.cadastro-texto {
  text-align: center;
  font-size: 40px;
  margin-top: 15px;
  color: #FFFFFF;
  font-family: "Orbitron", sans-serif;
}

.cadastro-texto a {
  color: #D90416;
  text-decoration: none;
  font-family: "Orbitron", sans-serif;
}