/* FINALIZADO TAMBÉM */

/*Fonte Russo One*/
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/*Fonte Orbitron*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Russo+One&display=swap');
/*Fonte Inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Russo+One&display=swap');

body {
    margin: 0;
    display: flex;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../assets/imgs/imagemFundo.png");
}

.sidebar {
    width: 200px;
    height: 566px;
    color: #fff;
    display: flex;
    padding: 30px;
    flex-direction: column;
    box-shadow: 8px 0 8px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to bottom, #FF0000, #990000, #990000);
}

.sidebar img {
    width: 40%;
    margin-top: 10%;
    margin-left: 4%;
}

.sidebar h1 {
    margin-top: 20%;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: "Orbitron";
}

.sidebar p {
    margin-top: 16%;
    font-size: 18px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: "Orbitron";
}

.sidebar a {
    display: flex;
    margin-top: 10%;
    margin-bottom: -3%;
    border-radius: 6px;
    padding: 2px 10px;
    align-items: center; 
    text-decoration: none;
    background-color: #A60321;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

}

/* Para quando estiver na página ativa, ou seja onde o usuário está navegando naquele momento */
.sidebar a.ativo {
    display: flex;
    margin-top: 10%;
    margin-bottom: -3%;
    border-radius: 6px;
    padding: 0px 4px;
    align-items: center; 
    text-decoration: none;
    background-color: #FF0000;
    box-shadow: 0px 5px 18px rgba(113, 19, 19, 0.6);
}

.sidebar a li {
    color: #fff;
    display: flex;
    font-size: 20px;
    font-weight: 200;
    margin-left: 4%;
    text-decoration: none;
    font-family: "Orbitron";
}

.sidebar a img {
    width: 24px;
    height: auto;
    margin-bottom: 10%;
}

.btn-logout {
    border: none;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    margin-left: -25%;
    margin-top: 60%;
    border-radius: 6px;
    font-family: "Orbitron";
    background-color: transparent;
}

.btn-logout img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

/* Aqui é o final da sidebar */

/* Inicia o meu quiz */

#btnIniciarQuiz {
    margin-top: 10%;
    margin-left: 37%;
    font-size: 27px;
    font-family: "Orbitron";
    color: #ffffff;
    padding: 60px 60px;
    border: none;
    border-radius: 2%;
    background-image: linear-gradient(to right, #FF0000, #990000);
    box-shadow: 8px 0 18px rgba(0, 0, 0, 0.5);
}
.main-content {
    flex: 1;
    padding: 20px; 
}

.main-content h2 {
    font-size: 16px;
    font-weight: 200;
    color: #ffffff;
    font-family: "Russo One";
}

#pontuacaoFinalJogo {
    width: 25%;
    display: flex;
    padding: 10px;
    color: #ffffff;
    margin: 10px auto;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    justify-content: center; 
    background-color: #590212;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3); 
}

#pontuacaoFinalJogo span {
    font-size: 16px;
    margin-left: 8px;
    font-family: "Russo One";
}

#spanPontuacaoFinal {
    font-size: 16px; 
    margin-top: 6%;
    margin-left: 8px;
    font-family: "Russo One";
}

/* Container do Quiz na parte um */

.quiz-section {
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

.quiz-section span {
    display: flex;
    font-size: 14px;
    font-weight: 300;
    margin-right: 12px;
    align-items: center;
    margin-bottom: 8px;
    font-family: "Orbitron";
}

.quiz-section #spanCertas,
.quiz-section #spanErradas {
    margin-top: 4%;
    margin-left: 12px;
    font-size: 16px;
    font-weight: 300;
}

#spanCertas {
    color: #078124;
}

#spanErradas {
    color: #bf1022;
}

/* Container do Quiz na parte dois */

.quiz-section #jogo {
    padding: 25px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

#atual {
    display: flex;
    font-size: 16px; 
    font-weight: 300;
    margin-bottom: 10px;
    align-items: center;      
    font-family: "Orbitron";
}

#spanNumeroDaQuestaoAtual {
    font-size: 16px; 
    color: #91000e;
    margin-top: 3%;
    margin-left: 6px;
}

#palavra {
    font-size: 16px; 
    margin-top: 6px;
    margin-left: 5px;
}

#qtdQuestoes {
    font-size: 16px; 
    color: #000000; 
    margin-top: 3%;
    margin-left: 7px;
}

#jogo #spanQuestaoExibida {
    display: flex;
    margin-left: 3%;
    font-size: 16px; 
    font-weight: 300;
    font-family: "Orbitron";
}

#opcoes {
    display: flex; 
    margin-top: 10px;
    margin-right: 4%;
    flex-direction: column;
}

#opcoes span {
    display: flex;   
    align-items: center; 
    margin-bottom: 6px; 
}

#opcoes label {
    color: #333;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    font-family: "Orbitron";
}

#botoes {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

#botoes #btnSubmeter, 
#botoes #btnProx, 
#botoes #btnTentarNovamente  {
    flex: 1;        
    width: 80px;
    margin-right: 5%;
    padding: 8px; 
    border-radius: 6px;
    border: none;
    background-color: #A60321;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
}

#botoes button:disabled {
    opacity: 0.5;
}

.final {
    display: none; 
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 15px; 
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Russo One";
}

/* Mensagens no final do quiz */

.text-success-with-bg {
    background-color: #b5e4c0;
    color: #155724;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 0.95rem; 
}

.text-danger-with-bg {
    background-color: #c79196;
    color: #721c24;
    padding: 2px 4px; 
    border-radius: 4px;
    font-size: 0.95rem;
}

.text-warning-with-bg {
    background-color: #decc90;
    color: #856404;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 0.95rem;
}
