/* FINALIZADO TAMBÉM */

/*Fonte Russo One*/
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/*Fonte Orbitron*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Russo+One&display=swap');
/*Fonte Inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Russo+One&display=swap');

body {
    margin: 0;
    display: flex;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../assets/imgs/imagemFundo.png");
}

.sidebar {
    width: 200px;
    height: 774px;
    color: #fff;
    display: flex;
    padding: 30px;
    flex-direction: column;
    box-shadow: 8px 0 8px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to bottom, #FF0000, #990000, #990000);
}

.sidebar img {
    width: 80%;
    margin-top: 20%;
    margin-left: 8%;
}

.sidebar h1 {
    margin-top: 24%;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: "Orbitron";
}

.sidebar p {
    margin-top: 26%;
    font-size: 19px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: "Orbitron";
}

.sidebar a {
    display: flex;
    margin-top: 20%;
    margin-bottom: -3%;
    border-radius: 6px;
    padding: 2px 10px;
    align-items: center; 
    text-decoration: none;
    background-color: #A60321;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

}

/* Para quando estiver na página ativa, ou seja onde o usuário está navegando naquele momento */

.sidebar a.ativo {
    display: flex;
    margin-top: 20%;
    margin-bottom: -3%;
    border-radius: 6px;
    padding: 2px 10px;
    align-items: center; 
    text-decoration: none;
    background-color: #FF0000;
    box-shadow: 0px 5px 18px rgba(113, 19, 19, 0.6);
}

.sidebar a li {
    color: #fff;
    display: flex;
    font-size: 20px;
    font-weight: 200;
    margin-left: 4%;
    text-decoration: none;
    font-family: "Orbitron";
}

.sidebar a img {
    width: 24px;
    height: auto;
    margin-bottom: 20%;
}

.btn-logout {
    border: none;
    color: #fff;
    padding: 10px;
    font-size: 30px;
    margin-left: -25%;
    margin-top: 40%;
    border-radius: 6px;
    font-family: "Orbitron";
    background-color: transparent;
}

.btn-logout img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

/* Inicia o meu quiz */

#btnIniciarQuiz {
    margin-top: 10%;
    margin-left: 37%;
    font-size: 30px;
    font-family: "Orbitron";
    color: #ffffff;
    padding: 60px 70px;
    border: none;
    border-radius: 2%;
    background-image: linear-gradient(to right, #FF0000, #990000);
    box-shadow: 8px 0 18px rgba(0, 0, 0, 0.5);
}

.main-content {
    flex: 1;
    padding: 40px;
}

.main-content h2 {
    font-size: 30px;
    font-weight: 200;
    color: #ffffff;
    font-family: "Russo one";
}

#pontuacaoFinalJogo {
    width: 30%;
    display: flex;
    padding: 15px;
    color: #ffffff;
    margin: 20px auto;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    justify-content: center; 
    background-color: #590212;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}

#pontuacaoFinalJogo span {
    font-size: 30px;
    margin-left: 10px;
    font-family: "Russo One", sans-serif;
}

#spanPontuacaoFinal {
    font-size: 30px;
    margin-top: 4%;
    margin-left: 10px;
    font-family: "Russo One", sans-serif;
}

/* Container do Quiz na parte um */

.quiz-section {
    padding: 50px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.quiz-section span {
    display: flex;
    font-size: 23px;
    font-weight: 300;
    margin-right: 20px;
    align-items: center;
    margin-bottom: 10px;
    font-family: "Orbitron";
}

.quiz-section #spanCertas,
.quiz-section #spanErradas {
    margin-top: 4%;
    margin-left: 20px;
    font-size: 40px;
    font-weight: 300;
}

#spanCertas {
    color: #078124;
}

#spanErradas {
    color: #bf1022;
}


/* Container do Quiz na parte dois */

.quiz-section #jogo {
    padding: 50px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}


#atual {
    display: flex;
    font-size: 27px;
    font-weight: 300;
    margin-bottom: 15px;
    align-items: center;      
    font-family: "Orbitron";
}

#spanNumeroDaQuestaoAtual {
    font-size: 40px;
    color: #91000e;
    margin-left: 6px;
}

#palavra {
  font-size: 30px;
  margin-top: 4px;
  margin-left: 5px;
}

#qtdQuestoes {
    font-size: 40px;
    color: #000000; 
    margin-left: 5px;
}


#jogo #spanQuestaoExibida {
    display: flex;
    margin-left: 3%;
    font-size: 24px;
    font-weight: 300;
    font-family: "Orbitron";
}

#opcoes {
    display: flex; 
    margin-top: 15px;
    margin-right: 4%;
    flex-direction: column;
}

#opcoes span {
    display: flex;   
    align-items: center; 
}

#opcoes label {
    color: #333;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    font-family: "Orbitron";
}

#botoes {
    display: flex;
    margin-top: 13px;
    justify-content: center;
}

#botoes 
#btnSubmeter, 
#btnProx, 
#btnTentarNovamente  {
    flex: 1;        
    width: 90px; 
    margin-right: 5%;
    padding: 10px 10px;       
    border-radius: 6px;
    border: none;
    background-color: #A60321;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

#botoes button:disabled {
    opacity: 0.5;
}

.final {
    display: none; 
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Russo One", sans-serif;
}

/* Mensagens no final do quiz */

.text-success-with-bg {
    background-color: #d4edda;
    color: #155724;
    padding: 2px 6px;
    border-radius: 4px;
}

.text-danger-with-bg {
    background-color: #f8d7da;
    color: #721c24;
    padding: 2px 6px;
    border-radius: 4px;
}

.text-warning-with-bg {
    background-color: #fff3cd;
    color: #856404;
    padding: 2px 6px;
    border-radius: 4px;
}
