/* FINALIZADO OK */

/*Fonte Russo One*/
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/*Fonte Orbitron*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Russo+One&display=swap');
/*Fonte Inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Russo+One&display=swap');

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #111111;
}

.header {
    top: 0;
    left: 10px;
    z-index: 5;
    width: 90%;
    display: flex;
    position: absolute;
    padding: 8px 40px;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    width: 42%;
    padding: 15px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #1B1B1B;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    font-family: "Orbitron";
    justify-content: space-between;
}

.navbar ul li a {
    width: 100%;
    padding: 2px;
    margin-left: 0;
    display: block;
    color: white;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: #D90416;
}

.logo {
    width: 70px;
}

/* Botões do lado direito */

.botoes ul {
    padding: 0;
    display: flex;
    margin-top: 20px;
    list-style: none;
    margin-left: 10px;
    align-items: center;
}

.botoes li {
    margin-left: 15px;
}

.botao-cadastro {
    color: white;
    font-weight: 200;
    font-size: 16px;
    padding: 8px 16px;
    text-decoration: none;
    font-family: "Orbitron";
}

.botao-destaque {
    font-size: 16px;
    font-weight: 200;
    padding: 8px 16px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    font-family: "Orbitron";
    background-color: #1B1B1B;
    color: #fff;
}

.icon {
    margin-left: 6px;
    width: 25%;
}

/* Começa o conteudo da página */

.banner {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.img-banner {
    z-index: -1;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.banner .container-texto {
    top: 4%;
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-size: 2rem;
}


/* Div sobre quem sou eu */

.sobre-perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1100px;
    margin: 70px auto;
    background-color: #d90416;
    border-radius: 20px;
    padding: 40px;
    color: #fff;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

.sobre-avatar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-avatar img {
    width: 400px;
}

.sobre-info {
    flex: 1;
    font-family: "Orbitron";
}

.sobre-info h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.sobre-info p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

.sobre-info ul {
    margin-bottom: 15px;
}

.sobre-info ul li {
    margin-bottom: 8px;
}

/* Sobre como conheci a F1 */

.card-conheci-f1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1100px;
    margin: 70px auto;
    background-color: #d90416;
    border-radius: 20px;
    padding: 40px;
    color: #fff;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

.avatar-conheci {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-conheci img {
    width: 400px;
}

.info-conheci {
    flex: 1;
    font-family: "Orbitron";
}

.info-conheci h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.info-conheci p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 15px;
}


/* Como influencia no meu socioemocional */

.card-socioemocional {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1100px;
    margin: 70px auto;
    background-color: #d90416;
    border-radius: 20px;
    padding: 40px;
    color: #fff;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

.avatar-socio {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-socio img {
    width: 400px;
}

.info-socio {
    flex: 1;
    font-family: "Orbitron";
}

.info-socio h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.info-socio p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Meus Pilotos favoritos */

.favoritos h2 {
    font-family: "Orbitron";
    font-size: 2.5rem;
    color: #d90416;
    text-align: center; 
    margin-bottom: 50px;
    text-transform: uppercase;
}

.card-piloto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1100px;
    margin: 70px auto;
    background-color: #d90416;
    border-radius: 20px;
    padding: 40px;
    color: #fff;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

.avatar-piloto {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-piloto img {
    width: 400px;
}

.info-piloto {
    flex: 1;
    font-family: "Orbitron";
}

.info-piloto h3 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.info-piloto p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Meu footer */

.footer {
    background: #000;
    color: #fff;
    margin-top: 50px;
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 0 8%;
    flex-wrap: wrap;
}

.footer-logo img {
    width: 130px;
    margin-bottom: 10px;
}

.footer-logo p {
    font-size: 0.9rem;
    color: #ccc;
    max-width: 250px;
}

.footer-links h4,
.footer-creditos h4 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #d43b3b;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin: 6px 0;
}

.footer-links ul li a {
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}

.footer-creditos p a {
    color: #ccc;
    text-decoration: none;
}

.footer-direitos {
    text-align: center;
    margin-top: 30px;
    padding: 15px;
    border-top: 1px solid #333;
    color: #aaa;
    font-size: 0.9rem;
}