@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 16%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: linear-gradient(to bottom, #ff0000, #800000);
  border-top-right-radius: 170px;
  border-bottom-right-radius: 170px;
  padding: 2rem 1rem;
}

.foto-dash {
  width: 100px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-top: 70%;
}

.hello {
  text-align: center;
  margin-top: 12%;
}

.hello h3 {
  color: #fff;
  font-weight: 200;
  font-size: 16px;
  font-family: "Orbitron", sans-serif;
}

.hello h3 span {
  font-weight: 200;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 20%;
}

.btn-nav,
.btn-nav-white {
  width: 80%;
  border-radius: 6px;
  margin-bottom: 4%;
  text-align: center;
  padding: 10px 0;
  font-family: "Russo One", sans-serif;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-nav h3,
.btn-nav-white h3 {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.btn-nav h3 img,
.btn-nav-white h3 img,
.btn-logout h3 img {
  width: 20px;
  height: 20px;
}

.btn-nav {
  color: white;
  background-color: #ff0000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.btn-nav:hover,
.btn-nav.ativo {
  font-weight: 200;
  background-color: #ff1a1a;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.4);
}

.btn-nav-white {
  background-color: #A60321;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.4);
}

.btn-nav-white h3 {
  color: #ffffff;
  font-weight: 200;
}

.btn-nav-white:hover {
  background-color: #a60000;
}

/* Botão de sair */

.logo-dash {
  width: 150px;
  margin-top: 20%;
  opacity: 0.9;
}

.btn-logout {
  margin-top: 1%;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 10px;
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
}

.btn-logout h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 100;
  margin-right: 30%;
}

.header-left a {
  text-decoration: none;
  color: inherit;
}










.dash {
  margin-left: 16%;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  overflow: hidden;
}

.main-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.kpi-top,
.kpi-bottom {
  display: flex;
  justify-content: flex-start;
}

.kpi-card {
  flex: 1;
  padding: 15px;
  border-radius: 8px;
  color: white;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}

.kpi-card.red {
  background-image: linear-gradient(to right, #590212, #8C031C, #BF0427);
}

.kpi-card.dark-red {
   background-image: linear-gradient(to right, #590212, #8C031C, #BF0427);
}

.kpi-card.dark {
  background-color: #222;
}

.kpi-card h2 {
  margin-bottom: 5px;
  font-size: 2rem;
}


.graph-card {
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
}

.graph-card h4 {
  font-family: "Russo One", sans-serif;
  margin-bottom: 10px;
}

.chart-placeholder {
  background-color: #e0e0e0;
  border-radius: 8px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  font-family: "Orbitron", sans-serif;
}

.right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-side {
  background-color: #990000;
  color: white;
  border-radius: 8px;
  padding: 15px;
}

.card-side h3 {
  font-family: "Russo One", sans-serif;
  margin-bottom: 10px;
}

.comment {
  display: flex;
  gap: 10px;
  background-color: #b30000;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 8px;
}

.user-circle {
  background-color: #fff;
  color: #b30000;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
