@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 16%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(to bottom, #ff0000, #800000);
    border-top-right-radius: 170px;
    border-bottom-right-radius: 170px;
    padding: 2rem 1rem;
}

.foto-dash {
    width: 100px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-top: 70%;
}

.hello {
    text-align: center;
    margin-top: 12%;
}

.hello h3 {
    color: #fff;
    font-weight: 200;
    font-size: 16px;
    font-family: "Orbitron", sans-serif;
}

.hello h3 span {
    font-weight: 200;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 20%;
}

.btn-nav,
.btn-nav-white {
    width: 80%;
    border-radius: 6px;
    margin-bottom: 4%;
    text-align: center;
    padding: 10px 0;
    font-family: "Russo One", sans-serif;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-nav h3,
.btn-nav-white h3 {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.btn-nav h3 img,
.btn-nav-white h3 img,
.btn-logout h3 img {
    width: 20px;
    height: 20px;
}

.btn-nav {
    color: white;
    background-color: #ff0000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.btn-nav:hover,
.btn-nav.ativo {
    font-weight: 200;
    background-color: #ff1a1a;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.4);
}

.btn-nav-white {
    background-color: #A60321;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.4);
}

.btn-nav-white h3 {
    color: #ffffff;
    font-weight: 200;
}

.btn-nav-white:hover {
    background-color: #a60000;
}

/* Botão de sair */

.logo-dash {
    width: 150px;
    margin-top: 20%;
    opacity: 0.9;
}

.btn-logout {
    margin-top: 1%;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 10px 10px;
    cursor: pointer;
    font-family: "Orbitron", sans-serif;
}

.btn-logout h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    margin-right: 30%;
}

.header-left a {
    text-decoration: none;
    color: inherit;
}

/* conteudo principal começa aqui */

.perfil-container {
    padding: 20px;
    width: 70%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
}

.perfil p {
    color: #D5D5D5;
    font-weight: bold;
    flex-shrink: 0;
    font-size: 30px;
    margin-top: 2px;
    margin-left: 99%;
    font-family: "Russo One";
}

.perfil-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 30px;
}

.perfil-nome-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 2%;
}

.perfil-nome-wrapper h1 {
    font-size: 34px;
    padding-bottom: 20px;
    font-family: "Russo One";
}

.btn-editar-nome {
    position: flex;
    margin-left: 102%;
    margin-top: -14%;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #4a4a4a;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats-perfil {
    display: flex;
    gap: 10px;
    width: 80%;
    margin-top: -40px;
    margin-left: 130%;
}

.stats-perfil span {
    font-weight: bold;
    width: 30%;
    flex-shrink: 0;
    padding: 8px;
    font-size: 14px;
    background-color: #E9E9E9;
    border: 1px solid #CFCFCF;
    border-radius: 4%;
    font-family: "Inter";
    text-align: center;
    color: #5D5D5D;
}

.perfil-bio p {
    margin: 6px 0;
    font-size: 20px;
    font-weight: 300;
    color: #6B6B6B;
    line-height: 1.2;
    letter-spacing: 0.5px;
    font-family: "Orbitron";
}


.perfil-layout {
    display: grid;
    grid-template-columns: 0.8fr 300px; /* esquerda vai ser flexível e direita vai ser fixa */
    gap: 4px;
    margin-top: 20px;
    align-items: flex-start;
}

.feed-post {
    grid-column: 1 / -1;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: "Inter";
    font-weight: 400;
    margin-bottom: 4%;
}

.card-postagem {
    display: grid;
    grid-template-columns: 340px 1fr 40px;
    align-items: start;
    padding: 15px;
    background: #fff;
    border-radius: 14px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.12);
    gap: 14px;
    width: 90%;
}

.post-imagem img {
    width: 90%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}

.post-conteudo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.post-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.post-perfil-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #000000;
}

.post-header h3 {
    margin-left: 4px;
    font-family: "Russo One";
    font-size: 12px;
    font-weight: 200;
    color: #000;
}

.post-texto {
    margin-top: 10px;
    font-size: 12px;
    font-family: "Inter";
    color: #000000;
    line-height: 1.4;
}

.post-hashtag {
    font-size: 14px;
    font-family: "Inter";
    margin-top: 6px;
    color: #000000;
    font-weight: 600;
}


.post-engajamento {
    display: flex;
    gap: 22px;
    font-size: 15px;
    font-family: "Inter";
    margin-top: 5px;
}

.eng-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.comentario {
    width: 90%;
    background-color: #EEEEEE;
    padding: 20px;
    border-radius: 6px;
}

.post-comentario {
    background: #FFFFFF;
    border: 1px solid #ddd;
    padding: 28px;
    border-radius: 12px;
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.coment-perfil {
    width: 60px;
    height: 30px;
    border-radius: 80%;
    background: #c5c5c5;
    font-size: 8px;
    font-weight: 400;
    font-family: "Inter";
    display: flex;
    align-items: center;
    justify-content: center;
}

.coment-texto {
    font-family: "Inter";
    font-size: 16px;
}

.coment-texto strong {
    font-size: 14px;
    font-family: "Inter";
    font-weight: 400;
}

.coment-texto span {
    font-size: 12px;
    color: #9F9F9F;
    font-family: "Inter";
    margin-top: -30px;
}

.coment-texto p {
    margin-top: 10px;
    font-size: 12px;
}

.card-criar {
    background: #fff;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.12);
    border: 2px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
}

.card-criar h3 {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    color: #111;
}

.criar-foto {
    border: 2px dashed #999;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    font-family: "Exo 2";
    color: #666;
    cursor: pointer;
}

.criar-foto:hover {
    border-color: #c40000;
    color: #c40000;
}

.card-criar textarea {
    width: 90%;
    height: 90px;
    padding: 12px;
    resize: none;
    border-radius: 10px;
    border: 1px solid #aaa;
    font-family: "Exo 2", sans-serif;
    font-size: 14px;
}

.btn-postar {
    width: 100%;
    background: #c40000;
    border: none;
    padding: 12px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Exo 2";
    transition: 0.2s;
}

.btn-postar:hover {
    background: #900000;
}
